body {
	font-family: "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 150%;
}

h1 {
	margin: 0 0 20px 0;
}

#frame {
	width: 168px;
	margin: 0 auto 20px auto;
}

#left, #right {
	padding: 50px;
}

#left {
	position: fixed;
	min-height: 100%;
	border-right: 1px solid #dcdcdc;
	padding: 50px;
	width: 124px;
}

#right {
	position: absolute;
	width: 640px;
	left: 224px;
}

#left ul, #nav li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#left li {
	margin-bottom: 10px;
	text-align: center;
}

a {
	color: #1A99AA;
	text-decoration: underline;
}

a:hover {
	color: #1A99AA;
	text-decoration: none;
}

.highlight {
	background: #dcdcdc;
	padding: 1px;
}

.tile {
	border: 1px solid #dcdcdc;
	padding: 4px;
	margin-bottom: 2px;
	width: 156px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	opacity: 0.2;
}

.isotope-item {
	opacity: 1;
}
